{% extends "base_mobile.html" %}
{% block title %}Категории блога{% endblock %}
{% block content %}

<section class="home-section blog_banner">
    <div class="js-height-full">
        <div class="home-content container">
            <div class="home-text">
              <span class="banner_block">
                <h2 class="hs-line-8 no-transp font-alt mb-50 mb-xs-30">
                    Новости / События / Развитие / Мысли
                </h2>
                <h1 class="hs-line-14 font-alt mb-50 mb-xs-30">
                    Блог
                </h1>
                <div class="local-scroll">
                    <a href="{% url 'contacts' %}" class="btn btn-mod btn-border btn-medium btn-round ajax">О нас</a>
                </div>
              </span>
            </div>
        </div>
    </div>
</section>

<section class="page-section" style="padding-top: 45px;">
    <div class="container relative">
<div class="section-text">
    <div class="row">
      <div class="mb-sm-50">
        <p>
        <strong>Блог</strong> наша компания поддерживает ради Вас, уважаемые посетители. Мы считаем, что очень
        важно освещать любые нюансы нашей деятельности для повышения престижа фирмы и уровня доверия у потенциальных
        клиентов. Ведь люди, которые ничего не скрывают, не могут внушать негативных чувств.
        <br><br>
        Мы видим ситуацию на рынке производства веб-ресурсов. Большинство заинтересованных в сотрудничестве людей
        мало понимают в принципах нашей работы, в вопросах заказа продукции. Этим активно пользуются хитрые компании,
        продавая некачественные, несоразмерно дорогие услуги. Часто случаются неприятные истории. Отсюда такая острота доверия заказчика к
        поставщику.
        <br><br>
        Мы понимаем Ваши сомнения и незнание мира IT. И потому позаботились о своей репутации, годами сотрудничая с
        уважаемыми фирмами и деятелями, зарабатывая престиж и накапливая отзывы. Выстраивая здравые, комфортные, доверительные
        отношения. Уже сейчас нам доверяют информацию, стоящую подчас миллионы долларов.
        <br><br>
        Но блог также важен! Пусть любой желающий знает о нас всё, даже не вступая, при желании, с нами во взаимодействие.
        </p>
      </div>
    </div>
</div>
</div>
</section>

<section class="page-section">
    <div class="container relative">
        <h2 class="section-title font-alt mb-70 mb-sm-40">
            Категории блога
        </h2>
        <ul class="nav nav-tabs tpl-alt-tabs font-alt pt-30 pt-sm-0 pb-30 pb-sm-0">
            <li class="yy s_1 active">
                <a><div class="alt-tabs-icon"><span class="icon-megaphone"></span></div>Новости</a>
            </li>
            <li class="yy s_2 pointer">
                <a><div class="alt-tabs-icon"><span class="icon-target"></span></div>События</a>
            </li>
            <li class="yy s_3 pointer">
                <a><div class="alt-tabs-icon"><span class="icon-presentation"></span></div>Развитие</a>
            </li>
            <li class="yy s_4 pointer">
                <a><div class="alt-tabs-icon"><span class="icon-quote"></span></div>Мысли</a>
            </li>
        </ul>

        <div class="tab-content tpl-tabs-cont">
            <div class="tab_1 fade tab-pane in active wow fadeIn" data-wow-duration="0.3s">
                <div class="section-text">
                    <div class="row">
                        <div class="mb-sm-50">
                          <blockquote style="margin-bottom: 10px">
                            <span class="icon-attachment"></span>
                            <a href="{% url 'blog_list' slug='novosti' %}" class="ajax" style="text-decoration: underline;">Новости</a>
                          </blockquote>
                          <p>
                          <strong>Мы очень деятельны</strong>, несмотря на колоссальную нагрузку и трудоёмкость проектов.
                          Категория "Новости" Будет рассказывать об общих сторонах нашей жизни.
                          </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="tab_2 fade tab-pane in wow fadeIn" data-wow-duration="0.3s">
                <div class="section-text">
                    <div class="row">
                      <div class="mb-sm-50">
                        <blockquote style="margin-bottom: 10px">
                          <span class="icon-attachment"></span>
                          <a href="{% url 'blog_list' slug='sobyitiya' %}" class="ajax" style="text-decoration: underline;">События</a>
                        </blockquote>
                        <p>
                          <strong>События</strong> - категория о знаковых вехах нашего развития. Взаимодействия, сотрудничество,
                          новые связи.
                        </p>
                      </div>
                    </div>
                </div>
            </div>

            <div class="tab_3 fade tab-pane in wow fadeIn" data-wow-duration="0.3s">
                <div class="section-text">
                    <div class="row">
                      <div class="mb-sm-50">
                        <blockquote style="margin-bottom: 10px">
                          <span class="icon-attachment"></span>
                          <a href="{% url 'blog_list' slug='razvitie' %}" class="ajax" style="text-decoration: underline;">Развитие</a>
                        </blockquote>
                        <p>
                          <strong>Развитие</strong> - категория о новых людях в нашей команде, новых связях и качественных расширениях нашей
                          компании
                        </p>
                      </div>
                    </div>
                </div>
            </div>

            <div class="tab_4 fade tab-pane in wow fadeIn" data-wow-duration="0.3s">
                <div class="section-text">
                    <div class="row">
                      <div class="mb-sm-50">
                        <blockquote style="margin-bottom: 10px">
                          <span class="icon-attachment"></span>
                          <a href="{% url 'blog_list' slug='myisli' %}" class="ajax" style="text-decoration: underline;">Мысли</a>
                        </blockquote>
                        <p>
                          <strong>Мысли</strong> - категория о смежных сущностях: личностные качества членов команды, умозаключения,
                          технические совершенствования и хитрости, пути решения сложных проблем.
                        </p>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


{% include 'mobile/generic/go_contacts.html' %}

{% endblock %}

{% block sidebar %}
<div class="sidebar">
    <div class="widget">
        <form class="form-inline form" role="form">
            <div class="search-wrap">
                <button class="search-button" type="button" title="Поиск">
                    <span class="icon-magnifying-glass"></span>
                </button>
                <input type="text" class="form-control search-field" placeholder="Поиск...">
            </div>
        </form>
    </div>

    <div class="widget">
        <h5 class="widget-title font-alt">Категории блога</h5>
        <div class="widget-body">
            <ul class="clearlist widget-menu">
                {% for object in blog_cat %}
                <li style="font-size: 18px;">
                    <a href="{% url 'blog_list' slug=object.slug %}" class="ajax">{{ object.name }}</a>
                    <small> - {{ object.get_count }}</small>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="widget">
        <h5 class="widget-title font-alt">Все теги</h5>
        <div class="widget-body">
            <div class="tags">
              {% for object in tags %}
                <a href="{% url 'tag' name=object.name %}" class="ajax">Design</a>
              {% endfor %}
            </div>
        </div>
    </div>

    <div class="widget">
        <h5 class="widget-title font-alt">Последние статьи</h5>
        <div class="widget-body">
            <ul class="clearlist widget-posts">
              {% for object in last_blog %}
                <li class="clearfix">
                    <a href="{% url 'blog' slug=object.slug %}">
                      <img src="{{ object.image.url }}" alt="img" class="widget-posts-img">
                    </a>
                        <a href="{% url 'blog' slug=object.slug %}">
                          {{ object.title }}
                        </a>
                        <span class="icon-clock"></span> {{ object.get_created }}
                        <span class="separator">&nbsp;</span>
                        <a href="{% url 'user' pk=object.creator.pk %}" class="ajax">
                            <span class="icon-profile-male"></span> {{ object.creator.username }}
                        </a>
                </li>
              {% endfor %}
            </ul>
        </div>
    </div>

    <div class="widget">
        <h5 class="widget-title font-alt">Архив</h5>
        <div class="widget-body">
            <ul class="clearlist widget-menu">
                <li>
                    <a href="#" title="">Февраль 2021</a>
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
