{% extends "base_mobile.html" %}
{% block title %}Блог | {{ object.title }}{% endblock %}

{% block content %}
<section class="small-section">
    <div class="relative container align-left">
        <h1 class="hs-line-11 mb-20 mb-xs-0">Блог</h1>
        <div class="hs-line-4">{{ cat.name }}</div>
        <div class="mod-breadcrumbs align-right" style="margin-top: 5px;">
          <a class="ajax" href="{% url 'main' %}">Главная</a>&nbsp;/&nbsp;
          <a class="ajax" href="{% url 'blog_cats' %}">Блог</a>&nbsp;/&nbsp;
          <span>{{ object.title }}</span>
        </div>
    </div>
</section>

<section class="page-section">
    <div class="container relative is_paginate" style="margin-top: 50px;">
        <div class="blog-item">
            <h1 class="blog-item-title font-alt">{{ object.title }}</h1>
            <div class="blog-item-data" style="margin-bottom: 10px;">
                <span class="icon-clock"></span> {{ object.get_created }}
                <span class="separator">&nbsp;</span>
                <a href="{% url 'user' pk=object.creator.pk %}" class="ajax">
                    <span class="icon-profile-male"></span> {{ object.creator.username }}
                </a>
                <span class="separator">&nbsp;</span>
                <span class="icon-scope"></span> {{ object.get_visited_count }}
            </div>
            <div class="blog-media"><img src="{{ object.image.url }}" alt=""></div>
            <div class="blog-item-body">
                <p>{{ object.content|safe }}</p>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block sidebar %}
<div class="sidebar">
    <div class="widget">
        <h5 class="widget-title font-alt">Категории блога</h5>
        <div class="widget-body">
            <ul class="clearlist widget-menu">
                {% for object in blog_cat %}
                <li style="font-size: 18px;">
                    <a href="{% url 'blog_list' slug=object.slug %}" class="ajax">{{ object.name }}</a>
                    <small> - {{ object.get_count }}</small>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="widget">
        <h5 class="widget-title font-alt">Теги статьи</h5>
        <div class="widget-body">
            <div class="tags">
              {% for tag in object.get_tags %}
                <a href="{% url 'tag' name=tag.name %}" class="ajax">{{ tag.name }}</a>
              {% endfor %}
            </div>
        </div>
    </div>

    <div class="widget">
        <h5 class="widget-title font-alt">Похожие статьи</h5>
        <div class="widget-body">
            <ul class="clearlist widget-posts">
              {% for object in object.get_related_articles %}
                <li class="clearfix">
                    <a href="{% url 'blog' slug=object.slug %}" class="ajax">
                      <img src="{{ object.image.url }}" alt="img" class="widget-posts-img" style="width: 80px;">
                    </a>
                        <a href="{% url 'blog' slug=object.slug %}">
                          {{ object.title }}
                        </a>
                        <div class="widget-posts-descr">
                          <span class="icon-clock"></span> {{ object.get_created }}
                          <span class="separator">&nbsp;</span>
                          <a href="{% url 'user' pk=object.creator.pk %}" class="ajax">
                            <span class="icon-profile-male"></span> {{ object.creator.username }}
                          </a>
                        </div>
                </li>
              {% endfor %}
            </ul>
        </div>
    </div>

    <div class="widget">
        <h5 class="widget-title font-alt">Архив</h5>
        <div class="widget-body">
            <ul class="clearlist widget-menu">
                <li>
                    <a href="#" title="">Февраль 2021</a>
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
