<section class="page-section">
    <div class="container relative">

        <!-- Features Grid -->
        <div class="row alt-features-grid">

            <!-- Text Item -->
            <div class="col-sm-3">
                <div class="alt-features-item align-center">
                    <div class="alt-features-descr align-left">
                        <h4 class="mt-0 font-alt">Work process</h4>
                        Lorem ipsum dolor sit amet, c-r adipiscing elit.
                        In maximus ligula semper metus pellentesque mattis.
                        Maecenas  volutpat, diam enim.
                    </div>
                </div>
            </div>
            <!-- End Text Item -->

            <!-- Features Item -->
            <div class="col-sm-3">
                <div class="alt-features-item align-center">
                    <div class="alt-features-icon">
                        <span class="icon-chat"></span>
                    </div>
                    <h3 class="alt-features-title font-alt">1. Discuss</h3>
                </div>
            </div>
            <!-- End Features Item -->

            <!-- Features Item -->
            <div class="col-sm-3">
                <div class="alt-features-item align-center">
                    <div class="alt-features-icon">
                        <span class="icon-browser"></span>
                    </div>
                    <h3 class="alt-features-title font-alt">2. Make</h3>
                </div>
            </div>
            <!-- End Features Item -->

            <!-- Features Item -->
            <div class="col-sm-3">
                <div class="alt-features-item align-center">
                    <div class="alt-features-icon">
                        <span class="icon-heart"></span>
                    </div>
                    <h3 class="alt-features-title font-alt">3. Product</h3>
                </div>
            </div>
            <!-- End Features Item -->

       </div>
       <!-- End Features Grid -->

    </div>
</section>
