<section class="page-section" id="about">
    <div class="container relative">
        <h2 class="section-title font-alt align-left mb-70 mb-sm-40">
            О проекте
            <a href="{% url 'about' %}" class="section-more right ajax">Узнать больше</a>
        </h2>

        <div class="section-text">
            <div class="row">
                <div class="mb-sm-50">
                  Здравствуйте, посетитель. Вы находитесь на необычном сайте, описать смысл которого в нескольких словах очень сложно.
                  Назначение его - осветить самую полную вселенную сложных высоконагруженных веб-ресурсов. Во всём многообразии.
                  Что туда входит?
                </div>
                <div class="mb-sm-50">
                  <strong>Разработка</strong>: социальных, корпоративных, приватных сетей, сложных веб-порталов, узкоспециализированных
                  проектов под самые разнве задачи. <strong>Развитие</strong>: свежепостроенных или переделанных сайтов, приложений, проектов.
                  <strong>Доступность</strong>: популярнейших способов получения дохода в сети интернет, с помощью долевых соглашений и скидок, а также
                  накопления бесплатного материала для самостоятельного изучения разработки самых сложных форм веб-ресурсов из всех известных.
                </div>
                <div class="mb-sm-50">
                  <strong>Сайт состоит из</strong> разделов: наших услуг, портфолио, блога, учебных статей. Все это можно быстро искать на страницах
                  поиска и ключевых слов.
                </div>
                <div class="mb-sm-50">
                  Мы - молодая, но крайне амбициозная команда. Один из нас в одиночку сделал почти полный аналог сети Вконтакте,
                  со своими принципиальными доработками, защитой детей от вредной информации и тому подобными улучшениями.
                  Мы можем многое, готовы это продемонстрировать, показать рекомендации уважаемых людей и организаций в России.
                  Нами исповедуется постоянное развитие, стремление к совершенству и предельное внимание к мелочам.
                  Посетите другие страницы этого сайта и убедитесь в этом.
                </div>
            </div>
        </div>
    </div>
</section>
