<section class="home-section bg-gray bg-light-alfa-50" style="background-image: url(/static/images/background.jpg);" id="home">
    <div class="js-height-full">
        <div class="home-content container">
            <div class="home-text">
                <h2 class="hs-line-8 no-transp font-alt mb-50 mb-xs-30">
                    Комплексное, экспертное создание и развитие высоконагруженных сайтов 
                </h2>
                <h1 class="hs-line-14 font-alt mb-50 mb-xs-30">
                    getnetwork!
                </h1>
                <div class="local-scroll">
                    <a href="{% url 'about' %}" class="btn btn-mod btn-border btn-medium btn-round ajax">О проекте</a>
                </div>
            </div>
        </div>
    </div>
</section>
