{% if last_blog %}

<section class="page-section" id="news">
    <div class="container relative">
        <h2 class="section-title font-alt align-left mb-70 mb-sm-40">
            Последние статьи
            <a href="" class="section-more right blog">
              Перейти в раздел
            </a>
        </h2>
        <div class="row multi-columns-row">
          {% for object in last_blog %}
            <div class="mb-md-50">
                <div class="post-prev-img">
                    <a href="{% url 'blog' slug=object.slug %}" class="ajax">
                      <img src="{{ object.image.url }}" alt="" />
                    </a>
                </div>
                <div class="post-prev-title font-alt">
                    <a href="">{{ object.title }}</a>
                </div>
                <div class="post-prev-info font-alt">
                    {{ object.get_created }}
                </div>
                <div class="post-prev-text">
                    {{ object.description }}
                </div>
                <div class="post-prev-more">
                    <a href="{% url 'blog' slug=object.slug %}" class="btn btn-mod btn-gray btn-round ajax">Читать</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endif %}
