{% if last_works %}
<section class="page-section pb-0" id="portfolio">
    <div class="relative">
        <h2 class="section-title font-alt mb-70 mb-sm-40">
            Последние проекты
        </h2>
        <div class="container">
          <div class="section-text align-center mb-70 mb-xs-40">

          </div>
        </div>
        <ul class="works-grid work-grid-3 work-grid-gut clearfix font-alt hover-white hide-titles" id="work-grid">
          {% for object in last_works %}
            <li class="work-item">
                <a href="{% url 'work' slug=object.slug %}" class="work-ext-link ajax">
                    <div class="work-img">
                        <img class="work-img" src="{{ object.image.url }}" alt="Work" />
                    </div>
                    <div class="work-intro">
                        <h3 class="work-title">{{ object.title }}</h3>
                        <div class="work-descr">
                          {% for cat in object.get_categories %}
                            <a href="{% url 'work_list' slug=cat.slug %}" class="ajax">{{ cat.name }}</a>&nbsp;&nbsp;
                          {% endfor %}
                        </div>
                    </div>
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
</section>

<section class="small-section bg_custom">
    <div class="container relative">
        <div class="align-center">
            <h3 class="banner-heading font-alt">Хотите увидеть еще?</h3>
            <div class="local-scroll">
                <a href="{% url 'works_cats' %}" class="btn btn-mod btn-w btn-medium btn-round ajax">Наше портфолио</a>
            </div>
        </div>
    </div>
</section>

{% endif %}
