<section class="page-section" id="services">
    <div class="container relative">
        <h2 class="section-title font-alt mb-70 mb-sm-40">
            Разделы сайта
        </h2>
        <ul class="nav nav-tabs tpl-alt-tabs font-alt pt-30 pt-sm-0 pb-30 pb-sm-0">
            <li class="yy s_1 active">
                <a><div class="alt-tabs-icon"><span class="icon-lightbulb"></span></div>Разработка</a>
            </li>
            <li class="yy s_2 pointer">
                <a><div class="alt-tabs-icon"><span class="icon-shield"></span></div>Поддержка</a>
            </li>
            <li class="yy s_3 pointer">
                <a><div class="alt-tabs-icon"><span class="icon-trophy"></span></div>Обучение</a>
            </li>
            <li class="yy s_4 pointer">
                <a><div class="alt-tabs-icon"><span class="icon-wallet"></span></div>Продажа</a>
            </li>
            <li class="yy s_5 pointer">
                <a><div class="alt-tabs-icon"><span class="icon-clipboard"></span></div>База знаний</a>
            </li>
        </ul>

        <div class="tab-content tpl-tabs-cont">
            <div class="tab_1 fade tab-pane in active wow fadeIn" data-wow-duration="0.3s">
                <div class="section-text">
                    <div class="row">
                        <div class="mb-sm-50">
                          <blockquote class="mb-0" style="text-decoration: underline;">
                              <p style="margin-bottom:5px">Разработка</p>
                          </blockquote>
                          <strong>Раздел</strong> посвящён описанию <strong>наших услуг</strong> по разработке сайтов.<br>
                          Вот <strong>ключевые моменты</strong>:
                          <ul>
                              <li>Делаем сайты только на чистых языках программирования (python, javascript, c++ и т.д.).</li>
                              <li>Не используем сторонние плагины и "костыли". Только такой код, который Вам нужен. Никакого мусора.</li>
                              <li>Даём взвешенный и авторитетный анализ предлагаемых проектов. Всё, что может прийти к Вам в голову,
                              мы скорее всего делали.</li>
                              <li>Выполняем работу с опережением ожиданий заказчиков. Ибо знаем и самые лучшие практики программирования,
                              и стремимся производить продукты только высочайшего класса.</li>
                              <li>Опираемся на качества порядочных людей. Не делаем игровые, сутенерские, кредитные,
                                нарко-направленные сайты. Наша репутация тверда и есть много отзывов.</li>
                              <li>Выкатываем увесистые скидки на проекты социальной значимости.</li>
                          </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="tab_2 fade tab-pane in wow fadeIn" data-wow-duration="0.3s">
                <div class="section-text">
                    <div class="row">
                      <div class="mb-sm-50">
                          Maecenas  volutpat, diam enim sagittis quam, id porta quam. Sed id dolor consectetur fermentum
                          volutpat nibh, accumsan purus. Lorem ipsum dolor sit semper amet, consectetur adipiscing elit.
                          In maximus ligula metus pellentesque mattis.
                      </div>
                      <div class="mb-sm-50">
                          Donec vel ultricies purus. Nam dictum sem, ipsum aliquam . Etiam sit amet fringilla lacus.
                          Pellentesque suscipit ante at ullamcorper pulvinar neque porttitor. Integer lectus.
                          Praesent sed nisi eleifend, fermentum orci amet, iaculis libero.
                      </div>
                    </div>
                </div>
            </div>

            <div class="tab_3 fade tab-pane in wow fadeIn" data-wow-duration="0.3s">
                <div class="section-text">
                    <div class="row">
                      <div class="mb-sm-50">
                          Maecenas  volutpat, diam enim sagittis quam, id porta quam. Sed id dolor consectetur fermentum
                          volutpat nibh, accumsan purus. Lorem ipsum dolor sit semper amet, consectetur adipiscing elit.
                          In maximus ligula metus pellentesque mattis.
                      </div>
                      <div class="mb-sm-50">
                          Donec vel ultricies purus. Nam dictum sem, ipsum aliquam . Etiam sit amet fringilla lacus.
                          Pellentesque suscipit ante at ullamcorper pulvinar neque porttitor. Integer lectus.
                          Praesent sed nisi eleifend, fermentum orci amet, iaculis libero.
                      </div>
                    </div>
                </div>
            </div>

            <div class="tab_4 fade tab-pane in wow fadeIn" data-wow-duration="0.3s">
                <div class="section-text">
                    <div class="row">
                      <div class="mb-sm-50">
                          Maecenas  volutpat, diam enim sagittis quam, id porta quam. Sed id dolor consectetur fermentum
                          volutpat nibh, accumsan purus. Lorem ipsum dolor sit semper amet, consectetur adipiscing elit.
                          In maximus ligula metus pellentesque mattis.
                      </div>
                      <div class="mb-sm-50">
                          Donec vel ultricies purus. Nam dictum sem, ipsum aliquam . Etiam sit amet fringilla lacus.
                          Pellentesque suscipit ante at ullamcorper pulvinar neque porttitor. Integer lectus.
                          Praesent sed nisi eleifend, fermentum orci amet, iaculis libero.
                      </div>
                    </div>
                </div>
            </div>

            <div class="tab_5 fade tab-pane in wow fadeIn" data-wow-duration="0.3s">
                <div class="section-text">
                    <div class="row">
                      <div class="mb-sm-50">
                          Maecenas  volutpat, diam enim sagittis quam, id porta quam. Sed id dolor consectetur fermentum
                          volutpat nibh, accumsan purus. Lorem ipsum dolor sit semper amet, consectetur adipiscing elit.
                          In maximus ligula metus pellentesque mattis.
                      </div>
                      <div class="mb-sm-50">
                          Donec vel ultricies purus. Nam dictum sem, ipsum aliquam . Etiam sit amet fringilla lacus.
                          Pellentesque suscipit ante at ullamcorper pulvinar neque porttitor. Integer lectus.
                          Praesent sed nisi eleifend, fermentum orci amet, iaculis libero.
                      </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="align-center">
            <a href="" class="section-more font-alt">Смотреть все услуги <i class="fa fa-angle-right"></i></a>
        </div>
    </div>
</section>
