<section class="page-section" id="services">
    <div class="container relative">
        <h2 class="section-title font-alt mb-70 mb-sm-40">
            Разделы сайта
        </h2>
        <ul class="nav nav-tabs tpl-alt-tabs font-alt pt-30 pt-sm-0 pb-30 pb-sm-0">
            <li class="yy s_1 active">
                <a><div class="alt-tabs-icon"><span class="icon-lightbulb"></span></div>Разработка</a>
            </li>
            <li class="yy s_2 pointer">
                <a><div class="alt-tabs-icon"><span class="icon-briefcase"></span></div>Портфолио</a>
            </li>
            <li class="yy s_3 pointer">
                <a><div class="alt-tabs-icon"><span class="icon-newspaper"></span></div>Блог</a>
            </li>
            <li class="yy s_4 pointer">
                <a><div class="alt-tabs-icon"><span class="icon-book-open"></span></div>База знаний</a>
            </li>
            <li class="yy s_5 pointer">
                <a><div class="alt-tabs-icon"><span class="icon-documents"></span></div>Страницы</a>
            </li>
        </ul>

        <div class="tab-content tpl-tabs-cont">
            <div class="tab_1 fade tab-pane in active wow fadeIn" data-wow-duration="0.3s">
                <div class="section-text">
                    <div class="row">
                        <div class="mb-sm-50">
                          <blockquote class="mb-0" style="text-decoration: underline;">
                              <p style="margin-bottom:5px">Разработка</p>
                          </blockquote>
                          <strong>Раздел</strong> посвящён описанию <strong>наших услуг</strong> по разработке сайтов.<br>
                          Вот <strong>ключевые моменты</strong>:
                          <ul>
                              <li>Делаем сайты только на чистых языках программирования (python, javascript, c++ и т.д.).</li>
                              <li>Не используем сторонние плагины и "костыли". Только такой код, который Вам нужен. Никакого мусора.</li>
                              <li>Даём взвешенный и авторитетный анализ предлагаемых проектов. Всё, что может прийти к Вам в голову,
                              мы скорее всего делали.</li>
                              <li>Выполняем работу с опережением ожиданий заказчиков. Так как знаем самые лучшие практики программирования
                              и стремимся производить продукты только высочайшего класса.</li>
                              <li>Опираемся на качества порядочных людей. Не делаем игровые, сутенерские, кредитные,
                                нарко-направленные сайты. Наша репутация тверда и есть много отзывов.</li>
                              <li>Выкатываем увесистые скидки на проекты социальной значимости.</li>
                          </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="tab_2 fade tab-pane in wow fadeIn" data-wow-duration="0.3s">
                <div class="section-text">
                    <div class="row">
                      <div class="mb-sm-50">
                        <blockquote class="mb-0" style="text-decoration: underline;">
                            <p style="margin-bottom:5px">Портфолио</p>
                        </blockquote>
                          В этом разделе мы будем размещать собственные, заказанные, совместные сайты.
                          Вот <strong>важные нюансы</strong>:
                          <ul>
                              <li>Показать сможем только те проекты, которые не имеют приватного типа.</li>
                              <li>Проекты, находящиеся в разработке, тоже будут. Если заказчик не будет против, с подробным описанием процесса.</li>
                              <li>Будем выставлять ресурсы, которые готовы к заказу и могут перейти в вашу собственность в считанные месяцы.</li>
                          </ul>
                      </div>
                    </div>
                </div>
            </div>

            <div class="tab_3 fade tab-pane in wow fadeIn" data-wow-duration="0.3s">
                <div class="section-text">
                    <div class="row">

                      <div class="mb-sm-50">
                        <blockquote class="mb-0" style="text-decoration: underline;">
                            <p style="margin-bottom:5px">Блог</p>
                        </blockquote>
                          Любой уважающей себя и свой престиж фирме следует давать сведения о разных сторонах своего существования.
                          <strong>Что</strong> же <strong>войдёт в блог</strong>:
                          <ul>
                              <li>Важные и интересные моменты жизни компании.</li>
                              <li>Наблюдения в сфере профессиональной деятельности.</li>
                              <li>Полезные идеи для всех интересующихся темой больших проектов.</li>
                          </ul>
                      </div>
                    </div>
                </div>
            </div>

            <div class="tab_4 fade tab-pane in wow fadeIn" data-wow-duration="0.3s">
                <div class="section-text">
                    <div class="row">
                      <div class="mb-sm-50">
                        <blockquote class="mb-0" style="text-decoration: underline;">
                            <p style="margin-bottom:5px">База знаний</p>
                        </blockquote>
                          Далеко не все могут позволить себе заказать соцсеть у профессионалов. Нельзя лишать людей шансов
                          на исполнение такой мечты. Поэтому мы будем размещать статьи с бесплатным материалом.
                          <strong>О чём будут статьи</strong>:
                          <ul>
                              <li>Разработка веб-сайтов от простого к сложному</li>
                              <li>Создание приложений для смартфонов.</li>
                              <li>Опыты по тренировке нейронных сетей от python до c++</li>
                              <li>Смежные технологии. Кэширование, вебсокеты, безопасность, масштабирование,
                              базы данных, вариативность применения инструментов, практики чистого кода и много, много всего .</li>
                          </ul>
                      </div>
                    </div>
                </div>
            </div>

            <div class="tab_5 fade tab-pane in wow fadeIn" data-wow-duration="0.3s">
                <div class="section-text">
                    <div class="row">
                      <div class="mb-sm-50">
                        <blockquote class="mb-0" style="text-decoration: underline;">
                            <p style="margin-bottom:5px">Страницы</p>
                        </blockquote>
                          <strong>Сайт имеет много отдельных страниц</strong>:
                          <ul>
                              <li>О нас. Кто мы, чего хотим, как развиваемся, к чему идём.</li>
                              <li>О сайте. Назначение, структура, преимущества, путеводитель, форма связи</li>
                              <li>Калькулятор стоимости. Подсчитает, в какую сумму обойдётся Ваш заказ на основе
                              множественных вариантов, скидок, предложений и дополнений.</li>
                              <li>Теги. По ключевым словам можно будет видеть весь материал со всех разделов сайта.</li>
                              <li>Поиск. Быстрый лифт к нужному вопросу.</li>
                              <li>Дизайн. Мы любим давать пользователям инструменты для кастомизации станиц для их удобства.
                               Пока реализованы режимы "День", "Ночь", "Детский", "Оригинальный"</li>
                          </ul>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
