<section class="page-section">
    <div class="container relative">
        <h2 class="section-title font-alt align-left mb-70 mb-sm-40">
            Bestsellers
            <a href="shop-columns-3col.html" class="section-more right">Our Shop <i class="fa fa-angle-right"></i></a>
        </h2>
        <div class="row multi-columns-row">
            <div class="col-md-3 col-lg-3 mb-60 mb-xs-40 wow fadeIn" data-wow-delay="0.1s" data-wow-duration="2s">
                <div class="post-prev-img">
                    <a href="shop-single.html"><img src="images/shop/shop-prev-1.jpg" alt="" /></a>
                    <div class="intro-label">
                        <span class="label label-danger bg-red">Sale</span>
                    </div>
                </div>
                <div class="post-prev-title font-alt align-center">
                    <a href="shop-single.html">G-Star Polo Applique Jersey</a>
                </div>
                <div class="post-prev-text align-center">
                    <del>
                        $150.00
                    </del>
                    &nbsp;<strong>$94.75</strong>
                </div>
                <div class="post-prev-more align-center">
                    <a href="#" class="btn btn-mod btn-gray btn-round"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                </div>
            </div>
        </div>

    </div>
</section>
