<section class="page-section">
    <div class="container relative">
        <h2 class="section-title font-alt align-left mb-70 mb-sm-40">
            Продажа сайтов
            <a href="" class="section-more right ajax">Смотреть все</a>
        </h2>
        <div class="row multi-columns-row">
            <div class="mb-60 mb-xs-40">
                <div class="post-prev-img">
                    <a href="">
                      <img src="/static/images/promo.png" alt="img" />
                    </a>
                    <div class="intro-label">
                        <span class="label label-danger bg-red">Скидка</span>
                    </div>
                </div>
                <div class="post-prev-title font-alt align-center">
                    <a href="">Аналог Avito</a>
                </div>
                <div class="post-prev-text align-center">
                    <del>
                        ₽ 2000 000
                    </del>
                    &nbsp;<strong>₽ 2500 000</strong>
                </div>
                <div class="post-prev-more align-center">
                    <a href="" class="btn btn-mod btn-gray btn-round">
                      <span class="icon-basket"></span> Подробнее
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
