<span class="first_span" style="display:none">
  <button href="" class="mobile_icon border ajax">
    <span class="icon-strategy"></span>
    <p>Наши услуги</p>
  </button>
  <button href="" class="mobile_icon border ajax">
    <span class="icon-strategy"></span>
    <p>Наши работы</p>
  </button>
  <button href="" class="mobile_icon border ajax">
    <span class="icon-strategy"></span>
    <p>Обучение</p>
  </button>
  <button href="" class="mobile_icon border ajax">
    <span class="icon-strategy"></span>
    <p>База знаний</p>
  </button>
</span>

<span class="second_span" style="display:none">
  <button href="" class="mobile_icon border ajax">
    <span class="icon-strategy"></span>
    <p>О нас</p>
  </button>
  <button href="" class="mobile_icon border ajax">
    <span class="icon-strategy"></span>
    <p>О сайте</p>
  </button>
  <button href="" class="mobile_icon border ajax">
    <span class="icon-strategy"></span>
    <p>Теги</p>
  </button>
  <button href="" class="mobile_icon border ajax">
    <span class="icon-strategy"></span>
    <p>Дизайн</p>
  </button>
</span>

  <nav class="mobile_nav">
    <button href="{% url 'main' %}" class="mobile_icon ajax border">
      <span class="icon-strategy"></span>
      <p>Главная</p>
    </button>
    <button class="mobile_icon border apps_btn">
      <span class="icon-strategy"></span>
      <p>Разделы</p>
    </button>
    <button href="" class="mobile_icon border pages_btn">
      <span class="icon-strategy"></span>
      <p>Страницы</p>
    </button>
    <button href="" class="mobile_icon border ajax">
      <span class="icon-strategy"></span>
      <p>Поиск</p>
    </button>
  </nav>
