{% extends "base_mobile.html" %}
{% block title %}Категории наших работ{% endblock %}
{% block content %}

<section class="home-section work_banner">
    <div class="js-height-full">
        <div class="home-content container">
            <div class="home-text">
              <span class="banner_block">
                <h2 class="hs-line-8 no-transp font-alt mb-50 mb-xs-30">
                    Соцсети / Порталы / Приложения / Нейросети
                </h2>
                <h1 class="hs-line-14 font-alt mb-50 mb-xs-30">
                    Портфолио
                </h1>
                <div class="local-scroll">
                    <a href="{% url 'contacts' %}" class="btn btn-mod btn-border btn-medium btn-round ajax">О нас</a>
                </div>
              </span>
            </div>
        </div>
    </div>
</section>

<section class="page-section" style="padding-top: 45px;">
    <div class="container relative">
<div class="section-text">
    <div class="row">
      <div class="mb-sm-50">
        <p>
        <strong>Наши работы</strong> охватывают весь спектр выполненных проектов: Социальные, корпоративные, приватные
         сети / Веб-порталы: бизнес-площадки, сайты объявлений, знакомств, поиска работы, СМИ, мега-форумов /
         Приложения на android и IOS / Нейросети от простых до глубокого обучения.
        </p>
      </div>
    </div>
</div>
</div>
</section>

<section class="page-section">
    <div class="container relative">
        <h2 class="section-title font-alt mb-70 mb-sm-40">
            Категории портфолио.
        </h2>
        <ul class="nav nav-tabs tpl-alt-tabs font-alt pt-30 pt-sm-0 pb-30 pb-sm-0">
            <li class="yy s_1 active">
                <a><div class="alt-tabs-icon"><span class="icon-browser"></span></div>Соцсети</a>
            </li>
            <li class="yy s_2 pointer">
                <a><div class="alt-tabs-icon"><span class="icon-mobile"></span></div>Порталы</a>
            </li>
            <li class="yy s_3 pointer">
                <a><div class="alt-tabs-icon"><span class="icon-tools-2"></span></div>Приложения</a>
            </li>
            <li class="yy s_4 pointer">
                <a><div class="alt-tabs-icon"><span class="icon-trophy"></span></div>Нейросети</a>
            </li>
        </ul>

        <div class="tab-content tpl-tabs-cont">
            <div class="tab_1 fade tab-pane in active wow fadeIn" data-wow-duration="0.3s">
                <div class="section-text">
                    <div class="row">
                        <div class="mb-sm-50">
                          <blockquote style="margin-bottom: 10px">
                            <span class="icon-attachment"></span>
                            <a href="{% url 'works_list' slug='sotsseti' %}" class="ajax" style="text-decoration: underline;">Соцсети</a>
                          </blockquote>
                          <p>
                          <strong>Создание социальных сетей</strong> на серьёзном уровне требует колоссальных усилий даже с ветеранским опытом
                           разработчиков. Это десятки технологий, миллионы строк чистого кода и миллиард нюансов, связанные между собой
                           наилучшим образом для достижения нужного результата. Тем не менее, мы их уже делали и можем демонстрировать уровень своей
                           работы на примерах.
                           <br>
                           Компания getNetwork специализируется на разработке социальных сетей и особенно любит их за особую
                           сложность и масштабность. Мы хотим развиваться в профессиональной сфере и дальше, поэтому ценим серьёзные вызовы,
                           граничащие с невозможностью. Более того, у нас с успехом получается опровергать кажущуюся немыслимость некоторых проектов.
                           Вы можете получить любые подробности в любое время. Просто напишите нам Здесь в двух словах всего не расскажешь.
                          </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="tab_2 fade tab-pane in wow fadeIn" data-wow-duration="0.3s">
                <div class="section-text">
                    <div class="row">
                      <div class="mb-sm-50">
                        <blockquote style="margin-bottom: 10px">
                          <span class="icon-attachment"></span>
                          <a href="{% url 'works_list' slug='portalyi' %}" class="ajax" style="text-decoration: underline;">Порталы</a>
                        </blockquote>
                        <p>
                          Такие большие проекты, как <strong>Веб-порталы</strong> строятся гораздо легче соцсетей, однако и там
                          нужно принимать во внимание факторы формирование быстрой, отказоустойчивой, пластичной площадки. Посмотрите на
                          веб-портал "Avito". Вот неплохой пример качественной работы профессионалов своего дела.
                          <br>
                          Мы с успехом строим сложные веб-порталы любой направленности.
                        </p>
                      </div>
                    </div>
                </div>
            </div>

            <div class="tab_3 fade tab-pane in wow fadeIn" data-wow-duration="0.3s">
                <div class="section-text">
                    <div class="row">
                      <div class="mb-sm-50">
                        <blockquote style="margin-bottom: 10px">
                          <span class="icon-attachment"></span>
                          <a href="{% url 'works_list' slug='prilozheniya' %}" class="ajax" style="text-decoration: underline;">Приложения</a>
                        </blockquote>
                        <p>
                          <strong>Мобильные приложения</strong> получили громадную популярность в последнее время и этот процесс
                          не прекратится в будущем. Статистические центры огромных комплексов, такие как "Фейсбук" и "Вконтакте",
                          показывают, что их пользователи в 70% случаев юзают их мобильные приложения. Таким образом, владельцы
                          больших сервисов могут ослаблять нагрузку на серверы, собирать дополнительные данные о людях, плотнее
                          вовлекать пользователей в свою вселенную. Люди же могут с бОльшим комфортом и скоростью эксплуатировать
                          службы компаний. <br>
                          Наша компания умеет делать приложения любой сложности, под любые задачи и пожелания заказчиков.
                        </p>
                      </div>
                    </div>
                </div>
            </div>

            <div class="tab_4 fade tab-pane in wow fadeIn" data-wow-duration="0.3s">
                <div class="section-text">
                    <div class="row">
                      <div class="mb-sm-50">
                        <blockquote style="margin-bottom: 10px">
                          <span class="icon-attachment"></span>
                          <a href="{% url 'works_list' slug='nejroseti' %}" class="ajax" style="text-decoration: underline;">Нейросети</a>
                        </blockquote>
                        <p>
                          <strong>Нейросети</strong> в настоящее время привлекают особое внимание общественности. Их возможности
                          в сферах бизнеса и социальных веб-гигантах поражают размахом. Чат-боты умеют консультировать покупателей,
                          заменять техподдержку и модераторов, угадывать желания пользователей и рекомендовать им нужные вещи,
                          управлять рейтингами и популярностью аккаунтов, отсеивать ненужные картинки и видео. И множество других
                          крутых занятий. Кроме того, некоторые сети умеют обучаться, становиться профессиональнее, точнее.
                          Со временем популярность нейросетей и машинного обучения будут только расти с гарантией.
                          <br>
                          Вам нужна нейросеть? Вы обратились по адресу. Напишите нам о своём проекте. Возможно, мы сможем Вам помочь
                          уже на стадии осознания круга проблем и решений в Вашей затее.
                        </p>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% include 'mobile/generic/go_contacts.html' %}

{% endblock %}
