<nav class="main-nav transparent stick-fixed">
    <div class="full-wrapper relative clearfix">
        <div class="nav-logo-wrap local-scroll">
            <a href="{% url 'main' %}" class="logo">
                getnetwork
            </a>
        </div>
        <div class="mobile-nav">
            <i class="fa fa-bars"></i>
        </div>
        <div class="inner-nav desktop-nav">
            <ul class="clearlist">
                <li>
                    <a href="{% url 'main' %}" class="active">Главная <i class="fa fa-angle-down"></i></a>
                </li>
                <li>
                    <a href="#" class="mn-has-sub">Услуги <i class="fa fa-angle-down"></i></a>
                    <ul class="mn-sub mn-has-multi">
                        <li class="mn-sub-multi">
                            <a class="mn-group-title">Разработка</a>
                            <ul>
                                <li>
                                    <a href="">Социальные сети</a>
                                </li>
                                <li>
                                    <a href="">Корпоративные сети</a>
                                </li>
                                <li>
                                    <a href="">Веб-порталы</a>
                                </li>
                                <li>
                                    <a href="">Бизнес-площадки <span class="label-new round">New</span></a>
                                </li>
                            </ul>
                        </li>
                        <li class="mn-sub-multi">
                            <a class="mn-group-title">Продажа</a>
                            <ul>
                                <li>
                                    <a href="">Аналог Вконтакте</a>
                                </li>
                                <li>
                                    <a href="">Аналог Авито <span class="label-new round">Новое</span></a>
                                </li>
                            </ul>
                        </li>
                        <li class="mn-sub-multi">
                            <a class="mn-group-title">Обучение</a>
                            <ul>
                                <li>
                                    <a href="pages-gallery-1col.html">Курс "Веб-порталы"</a>
                                </li>
                                <li>
                                    <a href="pages-gallery-2col.html">Курс "Корпоративные сети"</a>
                                </li>
                                <li>
                                    <a href="pages-gallery-3col.html">Курс "Бизнес-площадки"</a>
                                </li>
                                <li>
                                    <a href="pages-gallery-4col.html">Курс "Социальные сети"</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#" class="mn-has-sub">Портфолио <i class="fa fa-angle-down"></i></a>
                    <ul class="mn-sub">
                        <li>
                            <a href="#" class="mn-has-sub">Категория <i class="fa fa-angle-right right"></i></a>
                            <ul class="mn-sub">
                                <li>
                                    <a href="">Работа</a>
                                </li>
                                <li>
                                    <a href="">Работа</a>
                                </li>
                                <li>
                                    <a href="">Работа</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#" class="mn-has-sub">Категория <i class="fa fa-angle-right right"></i></a>
                            <ul class="mn-sub">
                                <li>
                                    <a href="">Работа</a>
                                </li>
                                <li>
                                    <a href="">Работа</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>

                <li>
                    <a href="#" class="mn-has-sub">База знаний <i class="fa fa-angle-down"></i></a>
                    <ul class="mn-sub">
                        <li>
                            <a href="#" class="mn-has-sub">Категория <i class="fa fa-angle-right right"></i></a>
                            <ul class="mn-sub">
                                <li>
                                    <a href="">Статья</a>
                                </li>
                                <li>
                                    <a href="">Статья</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#" class="mn-has-sub">Категория <i class="fa fa-angle-right right"></i></a>
                            <ul class="mn-sub">
                                <li>
                                    <a href="">Статья</a>
                                </li>
                                <li>
                                    <a href="">Статья</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#" class="mn-has-sub">Блог <i class="fa fa-angle-down"></i></a>
                    <ul class="mn-sub to-left">
                        <li>
                            <a href="">Категория</a>
                        </li>
                        <li>
                            <a href="">Категория</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#" class="mn-has-sub">Инфо <i class="fa fa-angle-down"></i></a>
                    <ul class="mn-sub to-left">
                        <li>
                            <a href="">Команда</a>
                        </li>
                        <li>
                            <a href="">Сайт</a>
                        </li>
                        <li>
                            <a href="">Сотрудничество</a>
                        </li>
                        <li>
                            <a href="">Контакты</a>
                        </li>
                    </ul>
                </li>
                <li><a>&nbsp;</a></li>
                <li>
                    <a href="#" class="mn-has-sub"><i class="fa fa-search"></i> Search</a>
                    <ul class="mn-sub">
                        <li>
                            <div class="mn-wrap">
                                <form method="post" class="form">
                                    <div class="search-wrap">
                                        <button class="search-button animate" type="submit" title="Start Search">
                                            <i class="fa fa-search"></i>
                                        </button>
                                        <input type="text" class="form-control search-field" placeholder="Search...">
                                    </div>
                                </form>
                            </div>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#" class="mn-has-sub">Ru <i class="fa fa-angle-down"></i></a>
                    <ul class="mn-sub">
                        <li><a href="" class="active">Ru</a></li>
                        <li><a href="">En</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
