<nav class="main-nav transparent stick-fixed">
    <div class="full-wrapper relative clearfix">
        <div class="nav-logo-wrap local-scroll">
            <a href="{% url 'main' %}" class="logo">
                getnetwork
            </a>
        </div>
        <div class="mobile-nav">
            <i class="fa fa-bars"></i>
        </div>
        <div class="inner-nav desktop-nav">
            <ul class="clearlist">
                <li>
                    <a href="{% url 'main' %}" class="ajax">Главная</a>
                </li>
                <li>
                    <a href="#" class="mn-has-sub">Услуги <i class="fa fa-angle-down"></i></a>
                    <ul class="mn-sub mn-has-multi">
                      {% for object in service_cats %}
                        <li class="mn-sub-multi">
                            <a class="mn-group-title ajax" href="{% url 'service_list' slug=object.slug %}">{{ object.name }}</a>
                            <ul>
                              {% for service in object.get_service_10 %}
                                <li>
                                    <a class="ajax" href="{% url 'service' slug=service.slug %}">{{ service.title }}</a>
                                </li>
                              {% endfor %}
                            </ul>
                        </li>
                      {% endfor %}
                    </ul>
                </li>
                <li>
                    <a href="{% url 'works_cats' %}" class="mn-has-sub">Портфолио <i class="fa fa-angle-down"></i></a>
                    <ul class="mn-sub">
                      {% for object in works_cats %}
                        <li class="mn-sub-multi">
                            <a class="mn-group-title ajax" href="{% url 'works_list' slug=object.slug %}">{{ object.name }}</a>
                            <ul>
                              {% for work in object.get_works_10 %}
                                <li>
                                    <a class="ajax" href="{% url 'work' slug=work.slug %}">{{ work.title }}</a>
                                </li>
                              {% endfor %}
                            </ul>
                        </li>
                      {% endfor %}
                    </ul>
                </li>

                <li>
                    <a href="{% url 'faq_cats' %}" class="mn-has-sub">База знаний <i class="fa fa-angle-down"></i></a>
                    <ul class="mn-sub">
                      {% for object in faq_cats %}
                        <li class="mn-sub-multi">
                            <a class="mn-group-title ajax" href="{% url 'faq_list' slug=object.slug %}">{{ object.name }}</a>
                            <ul>
                              {% for work in object.get_works_10 %}
                                <li>
                                    <a class="ajax" href="{% url 'faq' slug=work.slug %}">{{ work.title }}</a>
                                </li>
                              {% endfor %}
                            </ul>
                        </li>
                      {% endfor %}
                    </ul>
                </li>
                <li>
                    <a href="{% url 'blog_cats' %}" class="mn-has-sub">Блог <i class="fa fa-angle-down"></i></a>
                    <ul class="mn-sub to-left">
                      {% for object in blog_cats %}
                        <li>
                            <a class="ajax" href="{% url 'blog_list' slug=object.slug %}">Категория</a>
                        </li>
                      {% endfor %}
                    </ul>
                </li>
                <li>
                    <a href="{% url 'tags' %}" class="ajax">Теги</a>
                </li>
                <li>
                    <a href="#" class="mn-has-sub">Инфо <i class="fa fa-angle-down"></i></a>
                    <ul class="mn-sub to-left">
                        <li>
                            <a class="ajax" href="">Команда</a>
                        </li>
                        <li>
                            <a class="ajax" href="{% url 'about' %}">Сайт</a>
                        </li>
                        <li>
                            <a class="ajax" href="">Сотрудничество</a>
                        </li>
                        <li>
                            <a class="ajax" href="{% url 'contacts' %}">Контакты</a>
                        </li>
                    </ul>
                </li>
                <li><a>&nbsp;</a></li>
                <li>
                    <a href="#" class="mn-has-sub"><i class="fa fa-search"></i> поиск</a>
                    <ul class="mn-sub to-left">
                        <li>
                            <div class="mn-wrap">
                                <form method="post" class="form">
                                    <div class="search-wrap">
                                        <button class="search-button animate" type="submit" title="Поиск">
                                            <i class="fa fa-search"></i>
                                        </button>
                                        <input type="text" class="form-control search-field" placeholder="Поиск...">
                                    </div>
                                </form>
                            </div>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#" class="mn-has-sub">Ru <i class="fa fa-angle-down"></i></a>
                    <ul class="mn-sub">
                        <li><a href="" class="active">Ru</a></li>
                        <li><a href="">En</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
