<section class="page-section pb-0" id="portfolio">
    <div class="relative">
        <h2 class="section-title font-alt mb-70 mb-sm-40">
            Latest Works
        </h2>
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="section-text align-center mb-70 mb-xs-40">
                        Curabitur eu adipiscing lacus, a iaculis diam. Nullam placerat blandit auctor. Nulla accumsan ipsum et nibh rhoncus, eget tempus sapien ultricies. Donec mollis lorem vehicula.
                    </div>
                </div>
            </div>
        </div>
        <ul class="works-grid work-grid-3 work-grid-gut clearfix font-alt hover-white hide-titles" id="work-grid">
            <li class="work-item">
                <a href="portfolio-single-1.html" class="work-ext-link">
                    <div class="work-img">
                        <img class="work-img" src="images/portfolio/projects-13.jpg" alt="Work" />
                    </div>
                    <div class="work-intro">
                        <h3 class="work-title">Man</h3>
                        <div class="work-descr">
                            External Page
                        </div>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</section>
