{% extends "base_mobile.html" %}
{% block title %}Категории наших продуктов{% endblock %}
{% block content %}

<section class="home-section store_banner">
    <div class="js-height-full">
        <div class="home-content container">
            <div class="home-text">
              <span class="banner_block">
                <h2 class="hs-line-8 no-transp font-alt mb-50 mb-xs-30">
                    Сайты / Приложения / Решения / Комплексы
                </h2>
                <h1 class="hs-line-14 font-alt mb-50 mb-xs-30">
                    Продукты
                </h1>
                <div class="local-scroll">
                    <a href="{% url 'contacts' %}" class="btn btn-mod btn-border btn-medium btn-round ajax">О нас</a>
                </div>
              </span>
            </div>
        </div>
    </div>
</section>

{% endblock %}
