{% extends "base_mobile.html" %}
{% block title %}Категории наших продуктов{% endblock %}
{% block content %}

<section class="home-section store_banner">
    <div class="js-height-full">
        <div class="home-content container">
            <div class="home-text">
              <span class="banner_block">
                <h2 class="hs-line-8 no-transp font-alt mb-50 mb-xs-30">
                    Сайты / Приложения / Нейросети / Комплексы
                </h2>
                <h1 class="hs-line-14 font-alt mb-50 mb-xs-30">
                    Продукты
                </h1>
                <div class="local-scroll">
                    <a href="{% url 'contacts' %}" class="btn btn-mod btn-border btn-medium btn-round ajax">О нас</a>
                </div>
              </span>
            </div>
        </div>
    </div>
</section>

<section class="page-section" style="padding-top: 45px;">
    <div class="container relative">
<div class="section-text">
    <div class="row">
      <div class="mb-sm-50">
        <p>
        <strong>Продажа сайтов</strong> организована нами по нескольким причинам:
        <ul>
          <li>Компания "getNetwork" создана с принципом обеспечения Вас всеми способами получить соцсеть.
          А значит, помимо озвученных вариантов (заказать с нуля, войти в долю, обучить сотрудников, научиться самостоятельно),
          мы должны и продавать готовые продукты.</li>
          <li>Иногда, по разным причинам, заказчик может расторгать договор на разработку программного обеспечения,
          тогда ресурс может "замораживаться". Из соображений здравого смысла, труд пропадать не должен.
          </li>
          <li>Члены нашей команды чрезвычайно деятельны и развивают собственные проекты. Ведь у нас тоже много интересных идей.
          Часть этих проектов носит обучающий характер и могут послужить возможному покупателю лучше.</li>
        </ul>
        <br>
        У продаваемой продукции есть все необходимые условия реализации и лицензии. Написана техническая документация,
        советы по установке и может быть оказана помощь в разворачивании на серверах заказчика. Можем доработать любые части
        продукта в соответствии с Вашими пожеланиями или, наоборот, упростить что-нибудь ненужное.
        Цена может меняться в любую сторону.
        </p>
      </div>
    </div>
</div>
</div>
</section>

<section class="page-section">
    <div class="container relative">
        <h2 class="section-title font-alt mb-70 mb-sm-40">
            Категории продуктов.
        </h2>
        <ul class="nav nav-tabs tpl-alt-tabs font-alt pt-30 pt-sm-0 pb-30 pb-sm-0">
            <li class="yy s_1 active">
                <a><div class="alt-tabs-icon"><span class="icon-browser"></span></div>Сайты</a>
            </li>
            <li class="yy s_2 pointer">
                <a><div class="alt-tabs-icon"><span class="icon-mobile"></span></div>Приложения</a>
            </li>
            <li class="yy s_3 pointer">
                <a><div class="alt-tabs-icon"><span class="icon-tools-2"></span></div>Нейросети</a>
            </li>
            <li class="yy s_4 pointer">
                <a><div class="alt-tabs-icon"><span class="icon-trophy"></span></div>Комплексы</a>
            </li>
        </ul>

        <div class="tab-content tpl-tabs-cont">
            <div class="tab_1 fade tab-pane in active wow fadeIn" data-wow-duration="0.3s">
                <div class="section-text">
                    <div class="row">
                        <div class="mb-sm-50">
                          <blockquote style="margin-bottom: 10px">
                            <span class="icon-attachment"></span>
                            <a href="{% url 'store_list' slug='sajtyi' %}" class="ajax" style="text-decoration: underline;">Сайты</a>
                          </blockquote>
                          <p>
                          <strong>Продажа готовых социальных (и других) сетей</strong> - явление отнюдь не новое на просторах интернета.
                          Однако поставка продукции такого уровня, как развитые и известные гиганты навроде "Youtube", не встречается нигде.
                          Готовые скрипты, собранные на непрофессиональных движках и на скорую руку подобия, напротив, можно найти
                          почти повсеместно. Не будем рассказывать, насколько востребована будет такая платформа у пользователей.
                          Вы, скорее всего, знаете.
                          <br>
                          Реалии нашего времени таковы, что развить соцсеть крайне сложно. Нужна новая идея, интересные задумки,
                          поддержка лидеров движений. Однако и со всем этим заставить пользователя полюбить соцсеть низкого качества
                          невозможно, ведь существует столько мощных и продвинутых конкурентов! Там комфортно, удобно, всё быстро работает и не
                          подводит. Поэтому: забудьте о площадках низкого качества, они никогда не пойдут у людей на ура.
                          </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="tab_2 fade tab-pane in wow fadeIn" data-wow-duration="0.3s">
                <div class="section-text">
                    <div class="row">
                      <div class="mb-sm-50">
                        <blockquote style="margin-bottom: 10px">
                          <span class="icon-attachment"></span>
                          <a href="{% url 'store_list' slug='prilozheniya' %}" class="ajax" style="text-decoration: underline;">Приложения</a>
                        </blockquote>
                        <p>
                          <strong>Мобильные приложения</strong> мы готовим к продаже по тем же принципам - нам не интересно создавать
                          обычные варианты для обычных задач. Только развитые, разветвлённые конценпты.
                        </p>
                      </div>
                    </div>
                </div>
            </div>

            <div class="tab_3 fade tab-pane in wow fadeIn" data-wow-duration="0.3s">
                <div class="section-text">
                    <div class="row">
                      <div class="mb-sm-50">
                        <blockquote style="margin-bottom: 10px">
                          <span class="icon-attachment"></span>
                          <a href="{% url 'store_list' slug='nejroseti' %}" class="ajax" style="text-decoration: underline;">Нейросети</a>
                        </blockquote>
                        <p>
                          <strong>Нейросети</strong> появляться в продаже будут редко, так как продумывать серьёзные рещения для бизнеса,
                          а затем обучать их - дело трудоёмкое. И в то же время такая ниша также не освоена. Заказать сеть у мастеров и фирм
                          вполне можно, но здесь мы имеем известные проблемы: не известно, насколько мастер компетентен, могут быть трудности в
                          эксплуатации. А готовые, уже натренированные сети наглядно можно проверить и оценить. И внедрить к себе с нашей помощью,
                          не нанимая дорогих сотрудников. Быстро и эффективно.
                        </p>
                      </div>
                    </div>
                </div>
            </div>

            <div class="tab_4 fade tab-pane in wow fadeIn" data-wow-duration="0.3s">
                <div class="section-text">
                    <div class="row">
                      <div class="mb-sm-50">
                        <blockquote style="margin-bottom: 10px">
                          <span class="icon-attachment"></span>
                          <a href="{% url 'store_list' slug='kompleksyi' %}" class="ajax" style="text-decoration: underline;">Комплексы</a>
                        </blockquote>
                        <p>
                          <strong>Комплекс</strong> - это краткое обозначение, под которым понимается полный комплект программных решений,
                          объединённых в одном проекте. Это веб-сайт, мобильные приложения, возможно с нейронными сетями.
                          С едиными базами данных.Вс1 уже настроено, подключено, нужно только передать в Вашу собственность и развернуть
                          на Ваших серверах. Мы оказываем все сопутствующие услуги, можем изменить некоторые нюансы комплекса или доработать его
                          под Ваши требования.
                        </p>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% include 'mobile/generic/go_contacts.html' %}

{% endblock %}
