{% extends "base_mobile.html" %}
{% block title %}Обучалка | Категории{% endblock %}
{% block content %}

<section class="home-section work_banner">
    <div class="js-height-full">
        <div class="home-content container">
            <div class="home-text">
                <h2 class="hs-line-8 no-transp font-alt mb-50 mb-xs-30">
                    Соцсети / Порталы / Приложения / Нейросети
                </h2>
                <h1 class="hs-line-14 font-alt mb-50 mb-xs-30">
                    Обучалка
                </h1>
                <div class="local-scroll">
                    <a href="{% url 'contacts' %}" class="btn btn-mod btn-border btn-medium btn-round ajax">О нас</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="page-section" style="padding-top: 45px;">
    <div class="container relative">
<div class="section-text">
    <div class="row">
      <div class="mb-sm-50">
        <p>
        <strong>Обучающий материал</strong> - особый раздел нашего сайта, предназначенный для организации
        курсов и уроков на тему "Программирование сложных систем и комплексов". Существует много людей, интересующихся
        созданием веб-ресурсов. Многие из них подтвердят, что искать подробную и, главное, целостную информацию бывает весьма
        затруднительно. Бывает, найти ответ на задачу бывает практически нереально, и вроде бы огромные кулуары и коммьюнити
        интернета мало помогают в решении проблемы.
        <strong>Что здесь будет</strong>:

        <ul>
          <li>
            Полный материал по созданию сайтов на добротных, популярных движках. Например, Django на языке python.
            Мы не собираемся скрывать важные детали и подходы, в надежде продвинуться вступительными статьями в поисковиках и охватить
            больше возможных клиентов, обманывая Ваши ожидания. С помощью нашего материала Вы легко сможете сделать ту же социальную сеть
            самостоятельно! И на высоком уровне, на нескольких языках. Интересно, вот, вместе создать сеть на Ассемблере, как настоящим
            энтузиастам.
          </li>
          <li>
            Обучение разработке мобильных приложений на модных движках. Например, React Native. Его возможностей вполне хватает для
            написания большинства проектов, на Android и IOS сразу, причём учитывающий и нативные элементы. Может,
            пощупаем Angular, дающий большие возможности, или Vue, наоборот, более легкий и
            штампованный. Очень хочется затронуть силы помощнее, дающие огромную власть над настоящими огромными проектами.
            C#, java, objective-C...
          </li>
          <li>
            Очень хочется показать материалы по тренировке настоящих дата-сциенцистов, которых называют в шутку "Экстрасенсами".
            На основе школьного курса по математике, вооружившись математической и обычной статистикой, прихватив язык python,
            и даже R (специальный язык для математиков и статистов). Будем учиться создавать нейросети простой и средней сложности.
            Обязательно дойдём до глубокого обучения, сможем предсказывать ожидания пользователя, рекомендовать ему нуженый материал,
            Писать обучающихся чат-ботов и консультантов. Хотелось бы научиться делать более мощные сети на c++.
          </li>
          <li>
            Придётся усвоить целые плеяды и связки технологий, библиотек и приёмов, которые понадобятся в нелегком, но интересном пути.
            Вам понадобится упорство. Но не пугайтесь - мы проходили этот путь без таких хороших возможностей, которые предлагаем Вам.
            Конечно, можно купить курсы на обучающих известных сайтах и узнать всё тоже самое платно, и нед1шево. Но в век свободной информации
            такой подход не всем нравится.
          </li>
          <li>
            Ну и, наконец, мы свяжем все наши новые возможности воедино, и будем создавать аналог, например, Youtube.
            Там нам пригодится язык python, javascript, c++. База данных postgre, какая-нибудь no-sql. Нейронная сеть рекомендаций и
            модерирования контента, анализа загружаемых роликов. Ну и для рейтингов, само собой разумеется.
          </li>
        </ul>
        <br>
        В общем, <strong>узнать на этом сайте Вам точно можно очень многое</strong>. Подчеркнём: успешных учеников мы бы с радостью
        взяли в команду. Интересной работы, самой разной, у нас найдётся много. Да хоть бы яндекс директ свой написать. Или что-нибудь еще.
        <strong>Да, и ещё</strong>. Если зарегистрироваться на сайте, то можно менять с запоминанием тему сайта, видеть материал, который Вы просматривали,
         статистику посещений. Можем добавить систему заметок и избранного. Мы вообще много чего можем.
        </p>
      </div>
    </div>
</div>
</div>
</section>

<section class="page-section">
    <div class="container relative">
        <h2 class="section-title font-alt mb-70 mb-sm-40">
            Категории обучалки.
        </h2>
        <ul class="nav nav-tabs tpl-alt-tabs font-alt pt-30 pt-sm-0 pb-30 pb-sm-0">
            <li class="yy s_1 active">
                <a><div class="alt-tabs-icon"><span class="icon-browser"></span></div>Веб-сайты</a>
            </li>
            <li class="yy s_2 pointer">
                <a><div class="alt-tabs-icon"><span class="icon-mobile"></span></div>Приложения</a>
            </li>
            <li class="yy s_3 pointer">
                <a><div class="alt-tabs-icon"><span class="icon-tools-2"></span></div>Инструменты</a>
            </li>
            <li class="yy s_4 pointer">
                <a><div class="alt-tabs-icon"><span class="icon-trophy"></span></div>Пишем соцсеть</a>
            </li>
        </ul>

        <div class="tab-content tpl-tabs-cont">
            <div class="tab_1 fade tab-pane in active wow fadeIn" data-wow-duration="0.3s">
                <div class="section-text">
                    <div class="row">
                        <div class="mb-sm-50">
                          <blockquote style="margin-bottom: 10px">
                            <span class="icon-attachment"></span>
                            <a href="{% url 'faq_list' slug='veb-sajtyi' %}" class="ajax" style="text-decoration: underline;">Веб-сайты</a>
                          </blockquote>
                          <p>
                          <strong>Создание сайтов</strong> предполагает хотя бы один стек технологий, с помощью которого
                          осуществляется. Мы начнём с самого популярного и доступного, с помощью которого, тем не менее, можно
                          обучиться основам формирования фундамента соцсети.<br><br>
                          Давайте <strong>перечислим пункты</strong> нашего первого стека:
                          <ul>
                              <li>Язык python. Что это, с чем едят, как устанавливать на компьютер. Его синтаксис, команды и
                              базовые умения и возможности. Начальный уровень.</li>
                              <li>Фреймворк (движок) Django 3.x. Общая философия, модель-представление-шаблон, роскошные преимущества и
                              некоторые досадные недостатки. Последние мы научимся решать позднее, это же пока - начальный уровень.</li>
                              <li>Язык javascript, основа по тем же принципам, что и python. Будем рассматривать сразу чистый вариант, несмотря на -
                              начальный уровень.</li>
                              <li>Дополнительно: sqlite3, Atom, git, bootstrap4</li>
                              <li>Linux-сервер, ubuntu18. Разворачивание одностраничника на сервере. Virtualenv, gunicorn, supervisor,
                              nginx, создание проекта. Прикручивание домена. Установка сертификата. Обрабортка ошибок. Перезагрузка после сбоев.</li>
                          </ul>
                          <strong>Далее мы "усугубим" практику</strong>, перейдя на многостраничные сайты, пользовательскую часть, профили, вход-регистрацию.
                           Затем мы напишем корпоративный сайт, магазин. Затем портал. Не буду перечислять дополнительные умения и технологии,
                           там много всего. Скучно и мало точно не будет.
                          </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="tab_2 fade tab-pane in wow fadeIn" data-wow-duration="0.3s">
                <div class="section-text">
                    <div class="row">
                      <div class="mb-sm-50">
                        <blockquote style="margin-bottom: 10px">
                          <span class="icon-attachment"></span>
                          <a href="{% url 'faq_list' slug='prilozheniya' %}" class="ajax" style="text-decoration: underline;">Приложения</a>
                        </blockquote>
                        <p>
                          <strong>Разработка моб. приложений</strong> начнётся для Вас с волшебной технологии React Native, такой простой на обучение,
                          но тяжелой в отладке и возникновении конфликтов и зависимостей.<br><br>
                          Вот <strong>наши шаги</strong>:
                          <ul>
                              <li>Настраиваем react native. Что это, как работает, как взаимодействует. Конечно же, мощная Android Studio.</li>
                              <li>Разбираемся с форматами json, утиной типизацией, типом скриптов и стилей. И многим другим.</li>
                              <li>Пишем приложение на один скрин.</li>
                              <li>Пишем многоэкранное приложение с навигатором.</li>
                              <li>Разрабатываем целый портал.</li>
                          </ul>

                        </p>
                      </div>
                    </div>
                </div>
            </div>

            <div class="tab_3 fade tab-pane in wow fadeIn" data-wow-duration="0.3s">
                <div class="section-text">
                    <div class="row">
                      <div class="mb-sm-50">
                        <blockquote style="margin-bottom: 10px">
                          <span class="icon-attachment"></span>
                          <a href="{% url 'faq_list' slug='instrumentyi' %}" class="ajax" style="text-decoration: underline;">Инструменты</a>
                        </blockquote>
                        <p>
                          <strong>Инструменты</strong> подразделяются на множество подсущностей<br><br>
                          <strong>Например</strong>:
                          <ul>
                              <li>Базы данных. Какие бывают, как с ними работать. Чтение, запись, фильтрация, выборка, транзакции, индексы. Много еще чего.</li>
                              <li>Инструменты асинхронных действий. Ajax, вебсокеты, встраивание в структуру синхронных движков, типа Django.</li>
                              <li>Средства администрирования и безопасности. Защита сервера.</li>
                              <li>...............</li>
                          </ul>
                        </p>
                      </div>
                    </div>
                </div>
            </div>

            <div class="tab_4 fade tab-pane in wow fadeIn" data-wow-duration="0.3s">
                <div class="section-text">
                    <div class="row">
                      <div class="mb-sm-50">
                        <blockquote style="margin-bottom: 10px">
                          <span class="icon-attachment"></span>
                          <a href="{% url 'faq_list' slug='pishem-sotsset' %}" class="ajax" style="text-decoration: underline;">Пишем соцсеть</a>
                        </blockquote>
                        <p>
                          Наконец, мы <strong>создадим соцсеть</strong> Настоящую, могучую, доступную для Вас. Полностью,
                          совершенно бесплатно. Уверены, что никто и ни где такое не выкладывает. И понятно почему, ведь такие продукты стоят миллионы рублей.
                          <strong>Примерные возможности</strong>:<br><br>
                          <ul>
                              <li>Разделы и институты сети Вконтакте: во всем многообразии. Полностью не описываем, так как
                              на это уйдёт целый день.</li>
                              <li>Нейросеть для рекомендательных систем и модеррации с поддержкой. Плюс, для оперирования рейтингами пользователя и сообщества.</li>
                              <li>Создание мобильных приложений.</li>
                              <li>Связка сейта и моб приложения воедино.</li>
                              <li>Проблемы масштабирования.</li>
                          </ul>
                          <strong>Возможно, эта категория будет открыта только зарегистрированным пользователям.</strong>
                        </p>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% include 'mobile/generic/go_contacts.html' %}

{% endblock %}
